<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h2 class="text-center">Business Intelligence for Workplace</h2>
    <p>Rifiniti provides enterprise workplace business intelligence to help companies optimize their office space and workflow. Our solution ensures not only highly accurate and granular monitoring but also predictive analytics.</p>

    <p class="text-center"><a class="btn btn-primary btn-lg" href="http://www.rifiniti.com/" role="button">Learn more</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2 class="text-center"><%= icon("download")%></h2>
    <h2 class="text-center">Download Utilities</h2>
    <p class="text-block">Rifiniti provides open-source data fetching utilities that are certified by network hardware vendors to facilitate your data fetching process. </p>
    <p class="text-center"><a class="btn btn-default" href="#" role="button">View details</a></p>
  </div>
  <div class="col-md-4">
    <h2 class="text-center"><%= icon("support")%></h2>
    <h2 class="text-center">Get Support</h2>
    <p class="text-block">There are documents and announcements from Rifiniti that help you understand updates and changes about our products. </p>
    <p class="text-center"><a class="btn btn-default" href="#" role="button">View details</a></p>
 </div>
  <div class="col-md-4">
    <h2 class="text-center"><%= icon("code")%></h2>
    <h2 class="text-center">Read DevDocs</h2>
    <p class="text-block">As a developer, you may proceed to the DevDocs area to read documentations written by Rifiniti Software Development team that describes our applications.</p>
    <p class="text-center"><a class="btn btn-default" href="#" role="button">View details</a></p>
  </div>
</div>